@model _24DH112651_Be2.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-success">XÓA SẢN PHẨM</h2>
<h4 class="alert-danger">Bạn thực sự muốn xóa sản phẩm này à?</h4>

@* Hiển thị thông tin sản phẩm *@
@Html.Partial("PVProductInfo", Model)

<div class="form-group">
    <div class="col-md-offset-3 col-md-9">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |

        @* SỬA LỖI Ở ĐÂY: Dùng ProductID thay vì CategoryID *@
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" }) |

        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
}
